	<div class = "container-fluid" style="float:left; margin: 2% 0 0 20%;">
		<h3>Hello, admin</h3>
	</div>
	<div class = "container-fluid" style="align:left; margin: 2% 12% 0 60%;">
		<form class = "form-inline" style="padding-top:11%;">
		<label for="search">Search:</label>
		<input type = "search" class="form-control">
		<button type="button" class="glyphicon glyphicon-search"></button>
	</div>
	<div class = "container-fluid" style="margin:3% auto 3% auto; width:50%;">
		<table class = "table">
			<thead><tr>
			<th>Account ID</th>
			<th>Username</th>
			<th>Account Type</th>
			</thead></tr>
			<tbody><tr>
			<td>123</td>
			<td>Bla</td>
			<td>Admin</td>
			<td><button type="button" class="glyphicon glyphicon-pencil"></button>
			<button type="button" class="glyphicon glyphicon-remove"></button></td>
			</tbody></tr>
		</table>
	</div>

	<div class = "container-fluid" style="margin-left: 20%;">
	<button type="button" class="glyphicon glyphicon-plus"> Add User</button>
	</div>

	<div class = "container-fluid" style="margin: 5% auto;">
		<div class="row">
			<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: 10, totalItems: 100, currentPage: 1 } }" class="col-md-12">
			</div>
		</div>
	</div>