
	<div class = "wrap">
		<span class = "alignLeft">
			<h4>Hello, admin</h4>
		</span>

		<span class = "alignRight">
			<form class="form-inline">
				<input type="search" id="search" placeholder="Search" class="form-control">
				<button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
			</form>
		</span>
	</div>

	<div class = "tableResults">
		<table class = "table">
			<thead>
				<tr>
					<th>Account ID</th>
					<th>Username</th>
					<th>Account Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>123</td>
					<td>Bla</td>
					<td>Admin</td>
					<td>
						<button type="button" class="glyphicon glyphicon-pencil"></button>
						<button type="button" class="glyphicon glyphicon-remove"></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class = "wrap">
		<span class = "alignLeft">
			<button type="button" class="glyphicon glyphicon-plus"> Add User</button>
		</span>
	</div>

	<div class="row">
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: 10, totalItems: 100, currentPage: 1 } }" class="col-md-12"></div>
	</div>
